sections = [
    "autostart",
    "general",
    "focus_settings",
    "workspaces",
    "theme",
    "color_theme",
    "mods_commands",
    "rules",
    "gaps",
]

ws_list = [
    " α:term",
    " β:web",
    " γ:doc",
    " δ:dev",
    " ε:gfx",
    " ζ:draw",
    " η:sys",
    " ι:steam",
    " λ:vm",
    " μ:wine",
    " ξ:pic",
    "@ ρ:obs",
]

general = [
    "workspace_layout tabbed",
    "default_orientation auto",
    "floating_modifier Mod4",
    "set $i3 ${XDG_CONFIG_HOME}/i3",
    "set $exit mode \"default\"",
]

gaps = [
    "gaps inner 0",
    "gaps outer 0",
    "gaps top 0",
    "gaps bottom 0"
]

color_theme = [
    #item,                    border,     background,  text,    indicator,  child_border
    "client.focused           #000011dd   #000000ee    #ddddee  #112211     #0C0C0D",
    "client.focused_inactive  #000000dd   #000000ee    #005fff  #000000     #020204",
    "client.unfocused         #000000ee   #000000      #315c70  #000000     #020204",
    "client.urgent            #000000ee   #2E2457      #4C407C  #32275E     #32275E",
    "client.placeholder       #000000ee   #000000      #ffffff  #000000     #0c0c0c",
    "client.background        #000000ee"
]

focus_settings = [
    "focus_follows_mouse no",
    "force_display_urgency_hint 500 ms",
    "focus_on_window_activation smart",
    "focus_wrapping yes",
    "mouse_warping none",
]

theme = [
    "font pango: Iosevka Heavy 18",
    "show_marks yes",
    "smart_borders on",
    "smart_gaps on",
    "hide_edge_borders both",
    "title_align left",
]

autostart = [
    "exec_always --no-startup-id pkill -x polybar; [ $(pgrep -x polybar|wc -l) -le 1 ] && polybar -c ${XDG_CONFIG_HOME}/polybar/main main",
    "exec_always --no-startup-id ${XDG_CONFIG_HOME}/i3/bin/gnome_settings",
    "exec_always --no-startup-id dash -c ${XDG_CONFIG_HOME}/i3/bin/negi3wm_run",
    "exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1",
    "exec --no-startup-id /usr/sbin/gpaste-client daemon",
    "exec --no-startup-id /usr/bin/caffeine",
    "exec --no-startup-id /usr/bin/xiccd",
]

plain_rules = [
    '''[class=".*"] title_format "<span foreground='#395573'> >_ </span> %title", border pixel 5''',
    '[instance="^(gpartedbin|recoll)$"] move workspace $sys, floating enable, focus',
    '[class="^(Gcolor3|rdesktop)$"] floating enable',
    '[class="^(inkscape|gimp)$"] move workspace $draw',
]

bind_modes = [
    ["default", ''],
    ["resize", 'Mod4+r'],
    ["spec", 'Mod1+e'],
    ["wm", 'Mod4+minus'],
]

exec = [
    ['Mod4+4', '~/bin/scripts/screenshot'],
    ['Mod4+Shift+4', 'flameshot gui'],
    ['Mod4+Control+4', '~/bin/scripts/screenshot -r'],
]

exec_no_startup_id = [
    ['Mod1+grave', 'rofi -display-drun "❯>" -drun-display-format "{name}" -modi drun -show drun -show-icons -disable-history -theme run'],
    ['Mod4+8', 'mpc -q volume 0 || amixer -q set Master 0% mute'],
    ['Mod4+Shift+8', 'mpc -q volume 100 || amixer -q set Master 100% unmute'],
    ['Mod4+c', '~/bin/clip'],
    ['Mod4+m', '~/bin/scripts/rofi_mpd.py'],
    ['Mod4+p', '~/bin/scripts/rofi_tmux_urls'],
    ['Mod4+Shift+6', '~/bin/wl'],
    ['Mod4+Shift+i', '~/bin/scripts/rofi_networkmanager'],
    ['Mod4+Shift+l', '~/bin/scripts/rofi_lutris'],
    ['Mod4+Shift+m', '~/bin/scripts/rofi_mpd'],
    ['Mod4+Shift+y', '~/bin/clip youtube-dw-list'],
    ['Print', '~/bin/scripts/screenshot'],
    ['XF86Sleep', 'sudo systemctl suspend'],
    ['Mod4+apostrophe', 'dash -c ${XDG_CONFIG_HOME}/i3/bin/i3_reload'],
    ['Mod4+Shift+apostrophe', 'dash -c ${XDG_CONFIG_HOME}/i3/bin/i3_restart'],
    ['Mod4+space', 'dunstctl close-all'],
    ['Mod4+Shift+9', 'dunstctl history-pop'],
]

[mpd_media]
binds = [['XF86AudioPrev', 'XF86AudioNext', 'XF86AudioPlay', 'XF86AudioStop']]
funcs = ['prev', 'next', 'play', 'stop']

[mpd_normal]
binds = [['comma', 'period', 'Shift+2']]
funcs = ['prev', 'next', 'toggle']
modkey = 'Mod4'

[focus]
binds = ['hjkl']
funcs = ['left', 'down', 'up', 'right']
modkey = 'Mod4'

[misc_def]
binds = [['q', 'Control+q']]
funcs = ['fullscreen toggle', 'kill']
modkey = 'Mod4'

[scratchpad_def]
binds = [['Control+space', 'Control+s', 'Control+a', '3', 's']]
funcs = ['geom_restore', 'geom_dump', 'dialog', 'next', 'hide_current']
modkey = 'Mod4'

[menu_def]
binds = [['Mod1+g', 'Mod4+g', 'Mod4+Shift+a', 'Mod4+Control+g', 'Mod4+Control+grave', 'Mod4+Shift+s']]
funcs = ['goto_win', 'ws', 'attach', 'movews', 'cmd_menu', 'autoprop']

[remember_focused_def]
binds = [['Mod1+Tab', 'Mod4+slash', 'Mod4+grave', 'Mod4+Shift+grave']]
funcs = ['switch', 'switch', 'focus_next_visible', 'focus_prev_visible']

[vol_def]
binds = [['XF86AudioLowerVolume', 'XF86AudioRaiseVolume']]
funcs = ['d', 'u']

[resize_plus]
binds = ['hjkl', 'aswd']
funcs = ['left', 'bottom', 'top', 'right', 'left', 'bottom', 'top', 'right']
params = ['4']

[resize_minus]
binds = ['hjkl', 'aswd']
funcs = ['left', 'bottom', 'top', 'right', 'left', 'bottom', 'top', 'right']
params = ['-4']
modkey = 'Shift'

[split]
binds = ['hjkl']
funcs = ['horizontal', 'vertical', 'vertical', 'horizontal']

[layout_wm]
binds = [['grave', 't', 'minus', 'backslash', 'Control+a', 'Control+3', 'Control+s', 'Control+t']]
funcs = ['default', 'tabbed', 'splith', 'splitv', 'toggle all', 'toggle all', 'toggle split', 'toggle']

[actions_wm]
binds = [['m', 'Shift+m', 'x', 'y', 'Shift+x', 'Shift+y', 'Shift+plus', 'Shift+minus', 'c', 'Shift+c']]
funcs = ['maximize', 'revert_maximize', 'maxhor', 'maxvert', 'revert_maximize', 'revert_maximize', 'grow', 'shrink', 'none', 'resize',]

[misc_spec]
binds = [['e', 'Shift+d']]
funcs = ['[urgent=latest] focus', 'floating toggle']

[menu_spec]
binds = [['o', 'i', 'Shift+t', 'Shift+i', 'm']]
funcs = ['pulse_output', 'pulse_input', 'gtk_theme', 'icon_theme', 'xprop']

[move]
binds = ['aswd']
funcs = ['left', 'bottom', 'top', 'right']

[move_acts]
binds = [['Shift+a', 'Shift+s', 'Shift+w', 'Shift+d']]
funcs = ['hup', 'vleft', 'hdown', 'vright']
params = ['x2']

[quad]
binds = ['1234']
funcs = ['1', '2', '3', '4']
