bitwig:
  classw: [Bitwig Studio]
  binds:
    next: [Mod4+Control+b]
  prog: bitwig-studio
  ws: daw

patchbay:
  classw: [Carla2]
  binds:
    f13:
      next: [F13]
  qpwgraph:
    classw: [qpwgraph]
    binds:
      f13:
        subtag: [F14]
    prog: qpwgraph
  prog: carla
  ws: patchbay

dev:
  classw: [nwim]
  binds:
    next: [Mod4+1]
  prog: ~/bin/executor run nwim
  ws: dev

doc:
  classw: [Zathura, cr3]
  binds:
    next: [Mod4+o]
  prog: ~/bin/read_documents
  ws: doc

games:
  classw: [Steam, steam]
  binds:
    next: [Mod4+Shift+e]
  prog: zsh -c "flatpak run com.valvesoftware.Steam || steam"
  ws: games

nsxiv:
  classw: [Nsxiv]
  binds:
    next: [Mod4+Control+c]
    mod-sh-6:
      next: [c]
  prog: ~/bin/sx ~/dw/ ~/pic/shots/
  wallpaper:
    classw: [Nsxiv]
    binds:
      subtag: [Mod4+Shift+c]
      mod-sh-6:
        subtag: [Shift+c]
    prog: ~/bin/wl --show

obs:
  classw: [obs]
  binds:
    next: [Mod4+Shift+o]
  prog: obs
  ws: obs

remote:
  classw: [xfreerdp, reminna, org.remmina.Remmina]
  binds:
    next: [Mod4+Control+5]
  ws: remote
  
dw:
  classw: [org.nicotine_plus.Nicotine]
  binds:
    mod-e:
      next: [d]
  prog: nicotine
  ws: dw

term:
  instance: [term]
  binds:
    next: [Mod4+x]
  prog: ~/bin/executor run term
  ws: term

vid:
  classw: [mpv]
  binds:
    next: [Mod4+b]
  mpd_shut: 0
  prog: ~/bin/pl video
  ws: gfx

bazecor:
  classw: [Bazecor]
  binds:
    next: [Mod4+Control+v]
  prog: bazecor
  ws: bazecor

web:
  classw: [firefox, floorpdeveloperedition, floorp, Tor Browser, Chromium, Chromium-browser, Thorium-browser, Palemoon, Pale moon]
  binds:
    next: [Mod4+w]
  prog: floorp
  floorp:
    classw: [floorp]
    binds:
      mod-e:
        subtag: [f]
    prog: floorp
  firefox:
    classw: [firefox]
    binds:
      mod-e:
        subtag: [f]
    prog: firefox
  tor:
    classw: [Tor Browser]
    binds:
      mod-e:
        subtag: ['5']
    prog: tor-browser rutracker.org
  ws: web

# vim:filetype=yaml
